@{
    ViewBag.Title = "Home Page";
}

<link href="~/skins/eden.css" rel="stylesheet">
<link href="~/css/animate.min.css" rel="stylesheet">
<link href="~/css/icons/icons.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
<link href="~/style.css" rel="stylesheet">
<link href="~/Content/Desert.css" rel="stylesheet" />
<link href="~/Content/shThemeDefault.css" rel="stylesheet" />


<div class="jumbotron" id="home">
    <div class="intro">
        <div class="container text-center">
            <div class="row">
                <h1 class="text-center">John Mahoney</h1>
                <p class="text-center">Who You Want On Your Team</p><br />
            </div>
            <div class="row triangles">
                <div class="up-triangle animated fadeInUp">
                    <div class="info">
                        <i class="icon icon-cogs"></i><br />
                        Hard Working
                    </div>
                </div>
                <div class="down-triangle animated fadeInDown">
                    <div class="info">
                        Dedicated<br />
                        <i class="icon icon-envelope-alt"></i>
                    </div>
                </div>
                <div class="up-triangle animated fadeInUp">
                    <div class="info">
                        <i class="icon icon-picture"></i><br />
                        Colorful
                    </div>
                </div>
                <div class="down-triangle animated fadeInDown">
                    <div class="info">
                        Clean Code<br />
                        <i class="icon icon-code"></i>
                    </div>
                </div>
                <div class="down-triangle animated fadeInDown visible-sm">
                    <div class="info">
                        Clean Code<br />
                        <i class="icon icon-code"></i>
                    </div>
                </div>
                <div class="up-triangle animated fadeInUp">
                    <div class="info">
                        <i class="icon icon-thumbs-up"></i><br />
                        Awesome
                    </div>
                </div>
                <div class="down-triangle animated fadeInDown">
                    <div class="info">
                       Problem Solver<br />
                        <i class="icon icon-laptop"></i>
                    </div>
                </div>
                <div class="up-triangle animated fadeInUp">
                    <div class="info">
                        <i class="icon icon-comments-alt"></i><br />
                        Team Player
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<section id="services">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row features">
            <div class="col-md-12 text-center">
                <h2>Skills</h2>
                <p>
                    These are all of the tools and skills I have learned.<br />
                </p>
            </div>
        </div>
        <div class="row features">
            <div class="col-lg-2 col-lg-offset-1">
                <h6 class="text-center">Xamarin</h6>
                <div class="hexicon">
                    <div class="inicon support"></div>
                </div>
            </div>
            <div class="col-lg-2">
                <h6 class="text-center">Bootstrap</h6>
                <div class="hexicon">
                    <div class="inicon social"></div>
                </div>
            </div>
            <div class="col-lg-2">
                <h6 class="text-center">SQL</h6>
                <div class="hexicon">
                    <div class="inicon shopping"></div>
                </div>
            </div>
            <div class="col-lg-2">
                <h6 class="text-center">Unity</h6>
                <div class="hexicon">
                    <div class="inicon unity"></div>
                </div>
            </div>
            <div class="col-lg-2">
                <h6 class="text-center">MVC.NET</h6>
                <div class="hexicon">
                    <div class="inicon cloud"></div>
                </div>
            </div>
        </div>
        <div class="row features">
            <div class="col-lg-2 col-lg-offset-1">
                <h6 class="text-center">Java</h6>
                <div class="hexicon">
                    <div class="inicon java"></div>
                </div>
            </div>
            <div class="col-lg-2">
                <h6 class="text-center">VB.NET</h6>
                <div class="hexicon">
                    <div class="inicon vb"></div>
                </div>
            </div>
            <div class="col-lg-2">
                <h6 class="text-center">C++</h6>
                <div class="hexicon">
                    <div class="inicon cplus"></div>
                </div>
            </div>
            <div class="col-lg-2">
                <h6 class="text-center">C#</h6>
                <div class="hexicon">
                    <div class="inicon speed"></div>
                </div>
            </div>
            <div class="col-lg-2 ">
                <h6 class="text-center">HTML5, CSS3, and JS</h6>
                <div class="hexicon">
                    <div class="inicon retina"></div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="slider" id="features">
    <div class="container">
        <div class="inner-page">
            <h2 class="text-center">About Me</h2>

        </div>
        <div class="row inner-page">
            <div class="col-md-4">
                <img class="img-rounded" src="~/images/port.png" alt="John Mahoney" />
            </div>
            <div class="col-md-8">
                <p class="text-left">
                    My name is John Mahoney. I have an associate's degree from Forsyth tech. <br />
                    The skills listed above are some of the several skills I know.<br />
                    I have several projects that showcase these skills you can see them furthur down. <br />
                    I have always loved electronics and technology and I feel it shows in my work with programs.
                </p>
            </div>

        </div>
    </div>
</section>
<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center inner-page">
                <br />
                <br />
                <h2>My Projects</h2>
                <p>
                    These are my projects that I have been working on, while learning at Coder Foundry.
                </p>
            </div>
        </div>
    </div>

    <div class="clr"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="portfolio-block">
                    <img src="~/images/projects/blog.jpg" alt="Protect" />
                    <div class="portfolio-caption text-center animated">
                        <h3 class="animated">Blog (Coming Soon)</h3>
                        <a href="#" class="btn btn-social btn-stack-overflow btn-sm animated"><i class="tn-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="portfolio-block">
                    <img src="~/images/projects/tracker.jpg" alt="Protect" />
                    <div class="portfolio-caption text-center animated">
                        <h3 class="animated">Bugtrack System (Coming Soon)</h3>
                        <a href="#" class="btn btn-social btn-stack-overflow btn-sm animated"><i class="tn-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="portfolio-block">
                    <img src="~/images/projects/planner.jpg" alt="Protect" />
                    <div class="portfolio-caption text-center animated">
                        <h3 class="animated">Financial Planner (Coming Soon)</h3>
                        <a href="#" class="btn btn-social btn-stack-overflow btn-sm animated"><i class="tn-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="portfolio-block">
                    <img src="~/images/projects/car.jpg" alt="Protect" />
                    <div class="portfolio-caption text-center animated">
                        <h3 class="animated">Vehicle Info App (Coming Soon)</h3>
                        <a href="#" class="btn btn-social btn-stack-overflow btn-sm animated"><i class="tn-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="text-center">
            <button class="btn btn-xlg" type="button" data-toggle="modal" data-target="#scriptModal">My JavaScript Exercises</button>
        </div>
    </div>
</section>




<section class="gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">My Resume</h3>
                <div class="text-center">
                    <br />
                    <button class="btn btn-xlg" id="resume" type="submit">Check It Out!</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-success hidden" id="contactSuccess">
                    <strong>Success!</strong> Your message has been sent to us.
                </div>
                <div class="alert alert-error hidden" id="contactError">
                    <strong>Error!</strong> There was an error sending your message.
                </div>
                <h2 class="short"><strong>Contact</strong> Me!</h2>
                <form class="clearfix" accept-charset="utf-8" method="get" action="#">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="name">Name</label>
                            <input type="text" placeholder="" value="" name="name" id="name"
                                   class="form-control input-lg">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="email">Email Address</label>
                            <input type="email" placeholder="" value="" name="email" id="email"
                                   class="form-control input-lg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="message">Message</label>
                            <textarea rows="4" name="message" id="message" class="form-control"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-success btn-xlg" type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="scriptModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body" style="background-color: white; color: black;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#js1" class="tab-changed" id="tab1">Exercise 1</a></li>
                        <li><a data-toggle="tab" href="#js2" class="tab-changed" id="tab2">Exercise 2</a></li>
                        <li><a data-toggle="tab" href="#js3" class="tab-changed" id="tab3">Exercise 3</a></li>
                        <li><a data-toggle="tab" href="#js4" class="tab-changed" id="tab4">Exercise 4</a></li>
                    </ul>
                    <button type="button" class="close" data-dismiss="modal" id="modalClose">&times;</button>
                    <div class="tab-content">
                        <div id="js1" class="tab-pane fade in active">
                            <div class="container">
                                <div class="collapse multi-collapse1 in" id="multiCollapse1">
                                    <h3>Math Functions:</h3>
                                    <br />
                                    <h5>Put in 5 numbers and this will return the least of these numbers, the greatest of them, the average, the sum, and  the product.</h5>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="num1">Number 1:</label>
                                            <input type="number" placeholder="" value="" name="Num 1" id="num1" />
                                        </div>
                                        <div class="col-md-6">
                                            <label id="least"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="num2">Number 2:</label>
                                            <input type="number" placeholder="" value="" name="Num 2" id="num2" />
                                        </div>
                                        <div class="col-md-6">
                                            <label id="great"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="num3">Number 3:</label>
                                            <input type="number" placeholder="" value="" name="Num 3" id="num3" />
                                        </div>
                                        <div class="col-md-6">
                                            <label id="mean"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="num3">Number 4:</label>
                                            <input type="number" placeholder="" value="" name="Num 4" id="num4" />
                                        </div>
                                        <div class="col-md-6">
                                            <label id="sum"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="num3">Number 5:</label>
                                            <input type="number" placeholder="" value="" name="Num 5" id="num5" />
                                        </div>
                                        <div class="col-md-6">
                                            <label id="multi"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">

                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <button class="btn btn-success buttonWidthModal" id="btnCalc">Calculate</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">

                                    </div>
                                    <div class="col-md-3">
                                        <br />
                                        <button type="button" class="btn btn-info buttonWidthModal" data-toggle="collapse" data-target=".multi-collapse1" aria-expanded="false" aria-controls="multiCollapse1 multiCollapseCode1" id="btnShow1">Show Code</button>
                                    </div>
                                </div>
                                <div class="container">
                                    <br />
                                    <div class="collapse multi-collapse1 scriptborder" id="multiCollapseCode1">
                                        <pre class="prettyprint linenums">
$("#btnCalc").click(function () {
    //validation
    if ($("#num1").val() != "" && $("#num2").val() != "" && $("#num3").val() != "" && $("#num4").val() != "" && $("#num5").val() != "") {
        //get input and declare variables
        var num1 = Number($("#num1").val());
        var num2 = Number($("#num2").val());
        var num3 = Number($("#num3").val());
        var num4 = Number($("#num4").val());
        var num5 = Number($("#num5").val());
        var max, min, mean, sum, multi;

        //do math functions
        sum = num1 + num2 + num3 + num4 + num5;
        mean = sum / 5;
        multi = num1 * num2 * num3 * num4 * num5;
        min = Math.min(num1, num2, num3, num4, num5);
        max = Math.max(num1, num2, num3, num4, num5);

        //display data
        $("#sum").text("The sum of the numbers is " + sum);
        $("#mean").text("The average of the numbers is " + mean);
        $("#multi").text("The product of the numbers is " + multi);
        $("#least").text("The least number is " + min);
        $("#great").text("The greatest number is " + max);
    }
    else {
        //message if invalid input is caught
        $("#least").text("Please enter all values and as numeric");
        $("#sum").text("");
        $("#mean").text("");
        $("#multi").text("");
        $("#great").text("");
    }
});
                                    </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="js2" class="tab-pane fade in tabChanged">
                            <div class="container">
                                <div class="collapse multi-collapse2 in" id="multiCollapse2">
                                    <h3>Factorial Calculator:</h3>
                                    <br />
                                    <h5>Put in a number and it will return a factorial of this number. (A factorial is a number multipliyed by it's lower numbers I.e. 3 is ((3 * 2) * 1))</h5>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="factorial">Factorial Number:</label>
                                            <input type="number" placeholder="" value="" name="factorialNum" id="factorial" />
                                        </div>
                                        <div class="col-md-6">
                                            <label id="facResult"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">

                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <button class="btn btn-success buttonWidthModal" id="btnFacCalc">Calculate</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">

                                    </div>
                                    <div class="col-md-3">
                                        <br />
                                        <button type="button" class="btn btn-info buttonWidthModal" data-toggle="collapse" data-target=".multi-collapse2" aria-expanded="false" aria-controls="multiCollapse2 multiCollapseCode2" id="btnShow2">Show Code</button>
                                    </div>
                                </div>
                                <div class="container">
                                    <br />
                                    <div class="collapse multi-collapse2 scriptborder" id="multiCollapseCode2">
                                        <pre class="prettyprint linenums">
$("#btnFacCalc").click(function () {
    //get input
    var facNum = Number($("#factorial").val());
    var answer = 0;

    //validate
    if (facNum > 0 && $("#factorial").val() != "") {
        //loop doing calculations
        for (index = facNum - 1; index > 0; index--) {
            facNum = facNum * index;
            answer = facNum;
        }
        //past result
        $("#facResult").text("The factorial of the number is " + answer);
    }
    else {
        //wrong result message
        $("#facResult").text("Make sure there is a value and it's greater then 0 and is numeric");
    }
});
</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="js3" class="tab-pane fade in tabChanged">
                            <div class="container">
                                <div class="collapse multi-collapse3 in" id="multiCollapse3">
                                    <h3>FIZZBUZZ:</h3>
                                    <br />
                                    <h5>Please enter two numbers and this will determine if they are clean multiples out of 1-100. Fizz means the first number is a clean multiple Buzz means the second and FizzBuzz means both.</h5>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="fizz">Number 1:</label>
                                                    <input type="number" placeholder="" value="" name="fizzNum" id="fizz" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="buzz">Number 2:</label>
                                                    <input type="number" placeholder="" value="" name="buzzNum" id="buzz" />
                                                </div>
                                                <div class="col-md-6">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label id="fizzBuzzResult" class="scrollbar"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">

                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <button class="btn btn-success buttonWidthModal" id="btnFizzBuzz">Fizz the Buzz</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">

                                    </div>
                                    <div class="col-md-3">
                                        <br />
                                        <button type="button" class="btn btn-info buttonWidthModal" data-toggle="collapse" data-target=".multi-collapse3" aria-expanded="false" aria-controls="multiCollapse3 multiCollapseCode3" id="btnShow3">Show Code</button>
                                    </div>
                                </div>
                                <div class="container">
                                    <br />
                                    <div class="collapse multi-collapse3 scriptborder" id="multiCollapseCode3">
                                        <pre class="prettyprint linenums">
$("#btnFizzBuzz").click(function () {
    //get input
    var num1 = Number($("#fizz").val());
    var num2 = Number($("#buzz").val());
    var fizz = 0;
    var buzz = 0;
    var fizzBuzz = "";

    //validate
    if ($("#fizz").val() != "" && $("#buzz").val() != "" && num1 > 0 && num2 > 0 && num1 <= 100 && num2 <= 100) {
        //loop 100 time to check for clean multiples
        for (var index = 1; index <= 100; index++) {
            fizz = index % num1;
            buzz = index % num2;

            //if both are fizzbuzz
            if (fizz === 0 && buzz === 0) {
                fizzBuzz = fizzBuzz + " " + "<span class='fizzBuzz'>FizzBuzz,</span>"
            }
            else {
                if (fizz === 0) {
                    //if first fizz
                    fizzBuzz = fizzBuzz + " " + "<span class='fizz'>Fizz,</span>"
                }
                else if (buzz === 0) {
                    //if second buzz
                    fizzBuzz = fizzBuzz + " " + "<span class='buzz'>Buzz,</span>"
                }
                else {
                    //if none display the number
                    fizzBuzz = fizzBuzz + " " + "<b>" + index + "</b>" + ","
                }
            }
        }

        //substring to check if the last message is a number or word
        var testVar = fizzBuzz.substring(fizzBuzz.length - 3, fizzBuzz.length - 1);

        //if to check if it's a word or number
        if (testVar == "an") {
            //if it's a word substring more
            fizzBuzz = fizzBuzz.substring(0, fizzBuzz.length - 8);
        }
        else {
            //if it's a number substring less
            fizzBuzz = fizzBuzz.substring(0, fizzBuzz.length - 1);
        }
        //diaplay resluts with a .html to apply the styles
        $("#fizzBuzzResult").html(fizzBuzz);
    }
    else {
        if (num1 > 100 || num2 > 100) {
            //message if wrong and number is more than 100
            $("#fizzBuzzResult").text("Please put in a number that is between 1-100");
        }
        else {
            //message if wrong and has not value is negative or not numeric
            $("#fizzBuzzResult").text("Make sure there is a value and it's greater then 0 and is numeric");
        }
    }

    //make block visible
    document.getElementById("fizzBuzzResult").style.display = "block";
});</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="js4" class="tab-pane fade in tabChanged">
                            <div class="container">
                                <div class="collapse multi-collapse4 in" id="multiCollapse4">
                                    <h3>Palindrome Checker:</h3>
                                    <br />
                                    <h5>Please enter a sentence and this will tell you if it is a palindrome. (A word backwards being the same word) Special characters such as !#$% etc. are taken out.</h5>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-7">
                                            <label for="pal">Enter the Sentence to Check:</label>
                                            <input type="text" placeholder="" value="" name="palCheck" id="pal" />
                                        </div>
                                        <div class="col-md-5">
                                            <label id="palResult"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">

                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <button class="btn btn-success buttonWidthModal" id="btnPal">Check</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">

                                    </div>
                                    <div class="col-md-3">
                                        <br />
                                        <button type="button" class="btn btn-info buttonWidthModal" data-toggle="collapse" data-target=".multi-collapse4" aria-expanded="false" aria-controls="multiCollapse4 multiCollapseCode4" id="btnShow4">Show Code</button>
                                    </div>
                                </div>
                                <div class="container">
                                    <br />
                                    <div class="collapse multi-collapse4 scriptborder" id="multiCollapseCode4">
                                        <pre class="prettyprint linenums">
$("#btnPal").click(function () {
    //get input
    var palSen = $("#pal").val();

    //validate
    if ($("#pal").val() != "") {
        //replacing all spaces and special characters with nothing
        palSen = palSen.replace(/\s/g, '');
        palSen = palSen.replace(/[^a-zA-Z0-9]/g, '');

        var palCheck = "";
        //loop though palSen from back to front and put it in palCheck
        for (var index = (palSen.length) - 1; index >= 0; index--) {
            palCheck += palSen[index];
        }

        //check if it's a palindrome
        if (palSen.toUpperCase() == palCheck.toUpperCase()) {
            //message for true
            $("#palResult").text(palSen + " is a palindrome");
        }
        else {
            //message for false
            $("#palResult").text(palSen + " is not a palindrome");
        }
    }
    else {
        //message if there is nothing
        $("#palResult").text("Please enter a value");
    }
});</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        if ($(window).width() > 960) {
            var tw = $('.triangles').width() / 7 + 32;
            var ta = tw / 2 + 22;
            $('.down-triangle').css('border-top', tw + 'px solid rgba(0,0,0,0.8)').css('border-left', ta + 'px solid transparent').css('border-right', ta + 'px solid transparent');
            $('.up-triangle').css('border-bottom', tw + 'px solid rgba(0,0,0,0.8)').css('border-left', ta + 'px solid transparent').css('border-right', ta + 'px solid transparent');
        }
        $('#wd-wrapper').sinusoid({
            minImgW: 80,
            maxImgW: 130,
            minImgAngle: -20,
            maxImgAngle: 20,
            leftFactor: 60,
            sinusoidFunction: {
                A: 70,
                T: 1700,
                P: 0
            }
        });


        $('a[href*=#]:not([href=#]):not([rel=crs])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });

    });</script>

@section scripts{
    @Scripts.Render("https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
    @Scripts.Render("~/Scripts/CustomScripts.js")
}

